* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

body {
    overflow-x: hidden ;
}

/*HEADER SUPERIOR*/
header {
    width: 100%;
    top: 0;
    left: 0;
    background: white;
}

/*HEADER SUPERIOR*/
.header__superior {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}

.logo img {
    width: 250px;
}

/*BARRA MENU*/
.container__menu {
    width: 100%;
    height: 70px;
    background-color: #012942;
    padding: 0px 20px;
}

.menu {
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

nav {
    height: 100%;
}

nav > ul {
    height: 100%;
    display: flex;
}

nav > ul > li {
    height: 100%;
    list-style: none;
}

nav > ul > li:first-child > a {
    background-image: url(../images/logotipo-inmobiliaria.svg);
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

nav > ul > li:first-child:hover > a {
    background-image: url(../images/logotipo-inmobiliaria.svg);
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: center center;
}

nav > ul > li > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
    text-decoration: none;
}

nav > ul > li > a:hover {
    transform: scale(1.1);
    background: #008ae0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

#selected {
    transform: scale(1.1);
    background-color: #008ae0;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/*ELEMENTOS RESPONSIVOS*/

.icon__menu {
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#check__menu {
    display: none;
}

#label__check {
    width: 26px;
    height: 100%;
    display: none;
}


@media screen and (max-width: 720px) { /*Esto es como una condicional, cuando el tamaño de la pantalla llegue a estos pixeles va a ocurrir lo del menu de telefono*/
    .header__superior {
        padding: 10px;
    }

    .logo img {
        width: 200px;
    }

    nav > ul {
        flex-direction: column;
        background-color: #0163ad;
        position: fixed;
        left: 0;
        top: 70px; /*para aunmentar o disminuir la altura del menu pequeño*/
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;
    }

    nav > ul > li > a:hover {
        transform: scale(1);
    }

    #selected {
        transform: scale(1);
    }

    #label__check {
        display: block;
    }

    .icon__menu {
        display: flex;
    }

    #check__menu:checked ~ nav > ul  {
        height: 300px;
        visibility: visible;
        opacity: 1;
    }
}



.presentacion {
  display: grid;
  place-items: center;
}

.presentacion .texto {
    font-size: clamp(5px, 1vw + 1.5rem, 100px);
    color: #0f89d4;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    padding: 8px;
}

.presentacion > * {
  grid-area: 1 / 1; /* todos los hijos ocupan la misma área */
}

.presentacion img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.presentacion .overlay {
  background: rgba(0, 0, 0, 0.4); /* puedes cambiar color y opacidad */
  z-index: 1;
}

.imagen-presentacion {
    width: 100%;
    height: 700px;
    grid-area: 1 / 1;
}

.container-text {
    grid-area: 1 / 1;
    font-size: 5rem;
    color: #0970b0;
}

.titulo-carousel {
    text-align: center;
    padding: 60px;
    font-size: 1.5rem;
    color: #0163ad;
}

/* slider section */

.slider{
    height: 100vh;
    margin-top: -50px;
    width: 100vw;
    overflow: hidden;
    position: relative;
}
.slider .list .item{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.slider .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider .list .item .content{
    position: absolute;
    top: 20%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
}

.slider .list .item .content .title,
.slider .list .item .content .type{
    font-size: 5em;
    font-weight: bold;
    line-height: 1.3em;
}
.slider .list .item .type{
    color: #0163ad;
}
.slider .list .item .button{
    display: grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
    margin-top: 20px;
}
.slider .list .item .button button{
    border: none;
    background-color: #eee;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s;
    letter-spacing: 1px;
}


.slider .list .item .button button:hover{
    letter-spacing: 3px;
}
.slider .list .item .button button:nth-child(2){
    background-color: transparent;
    border: 1px solid white;
    color: #eee;
}

/* Thumbnail Section  */
.thumbnail{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}

.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.3);
}


/* nextPrevArrows Section  */
.nextPrevArrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.nextPrevArrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #002b4d;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
    cursor: pointer;
}
.nextPrevArrows button:hover{
    background-color: #fff;
    color: #000;
}

/* Animation Part */
.slider .list .item:nth-child(1){
    z-index: 1;
}


/* animation text in first item */
.slider .list .item:nth-child(1) .content .title,
.slider .list .item:nth-child(1) .content .type,
.slider .list .item:nth-child(1) .content .description,
.slider .list .item:nth-child(1) .content .buttons
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.slider .list .item:nth-child(1) .content .title{
    animation-delay: 0.4s !important;
}
.slider .list .item:nth-child(1) .content .type{
    animation-delay: 0.6s !important;
}
.slider .list .item:nth-child(1) .content .description{
    animation-delay: 0.8s !important;
}
.slider .list .item:nth-child(1) .content .buttons{
    animation-delay: 1s !important;
}




/* Animation for next button click */
.slider.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}

@keyframes showImage{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.slider.next .thumbnail .item:nth-last-child(1){
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.prev .list .item img{
    z-index: 100;
}


@keyframes showThumbnail{
    from{
        width: 0;
        opacity: 0;
    }
}


.slider.next .thumbnail{
    animation: effectNext .5s linear 1 forwards;
}

@keyframes effectNext{
    from{
        transform: translateX(150px);
    }
}



/* Animation for prev button click */
.slider.prev .list .item:nth-child(2){
    z-index: 2;
}

.slider.prev .list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.slider.prev .thumbnail .item:nth-child(1){
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.slider.next .nextPrevArrows button,
.slider.prev .nextPrevArrows button{
    pointer-events: none;
}


.slider.prev .list .item:nth-child(2) .content .title,
.slider.prev .list .item:nth-child(2) .content .type,
.slider.prev .list .item:nth-child(2) .content .description,
.slider.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) {
    .slider .list .item .content{
        padding-right: 0;
    }
    .slider .list .item .content .title{
        font-size: 50px;
    }
}

.imagenes_accesos {
    width: 90%;
    max-width: 2100px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    text-align: center;
}

.acceso {
    flex-direction: column; /* imagen arriba, texto abajo */
    background: #90e0ef;
    border-radius: 12px;
    padding: 20px;
    transition: all 0.3s;
    text-decoration: none;
}

.acceso img {
    width: 100px;
    transition: all 0.3s;
}

.acceso h2 {
    font-size: 1.5rem;
    color: #002b4d;
}

.acceso:hover {
    transition: all 0.3s;
    transform: scale(1.05);
    cursor: pointer;
}

.acceso:hover > img {
    transform: scale(1.3);
    transition: all 0.3s;
}

footer {
    width: 100%;
    min-height: 100px;
    background: #012942;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redes-sociales {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*margin 10px 4px*/
    /*flex-wrap wrap*/
}

.icono > img {
    width: 80px;
    height: 80px;
    transition: all 0.3s;
}

.icono > img:hover {
    transform: scale(1.2);
    transition: all 0.3s;
}

.menu {
    display: flex;
    font-size: 1.5rem;
    list-style: none;
}

.menu-elem {
    margin: 10px 10px;
}

.menu-icon {
    color: #a5cff0;

}

.textoFooter {
    color: white;
    font-size: 1.2rem;
}

@media screen and (max-width: 720px) {
    .slider .list .item .content{
    position: absolute;
    top: 1px;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: #fff;
    text-shadow: 0 5px 10px #0004;
    }

    .nextPrevArrows{
    position: absolute;
    top: 90%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
    }

    .slider .list .item .content .title,
    .slider .list .item .content .type{
    font-size: clamp(52px ,1vw + 1rem, 80px); /*Para hacer que el texto del carousel sea responsive*/
    font-weight: bold;
    line-height: 1.3em;
    }
}
